<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1 data-text="Звонки для бизнеса"><%= translations.get('Звонки для бизнеса') %></h1>
  <p data-text="Автоматизируйте рутинные процессы"><%= translations.get('Автоматизируйте рутинные процессы') %></p>

  <script type="module" src="/src/main.js"></script>
</body>
</html>